server {
    listen 80;
    listen [::]:80;
    server_name {{ domain }};

    location ~ /.well-known {
        root {{ ansistrano_deploy_to }}/current/public;
        allow all;
    }

    location ~ /\. { deny all; }

    location / {
        return 301 https://$server_name$request_uri;
    }
}